<html>
      <head>
            <meta name "viewport" content="width=device-width", initial-scale=1>
            <link rel="stylesheet" type="text/css" href= "/static/Home.css" media="screen"/>
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong|Poppins|Prompt|Sacramento|Staatliches">
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
            
      </head>
   <body>
      <div class="pageheade">
            <div class="titlebar"></div>
        </div>
      
        <div class>
            <h1 class = "Hey">
                  Jared's <br>Website
            </h1>
         
          <button class = "icon-login" > Skyblock Auction</button>
          <button class = "icon-login2"> Skyblock Bazaar</button>
          <button class = "icon-login3"> Quick Google</button>
          <button class = "icon-login4"> Skyblock Bazaar</button>
          <div class = "somebottom">by Jared XIN</div>
           
          
            
      </form>
        </div>    
         
   </body>
</html>