<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/main.css" media="screen"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong|Poppins|Prompt|Sacramento|Staatliches">  
    <title>Tasks</title>
</head>
<body>
    <div class="pageheader">
        <div class="titlebar">Tasks for {{personName}}</div>
    </div>
    <body class="Hey" background="static\icons\geometric.jpg"></body>
    <div class="container">
        <div class="folders">
            <div class="header">Folders</div>
            <button class="blue icon-new">New</button>
            {% for folder in folder %}
            <div class="folderitem"> {{folder}} </div>
            {% endfor %}
            
            <div class="controls">
                <button class="gray icon-settings">Settings</button>
                <button class="gray icon-exit">Logout</button>
            </div>
        </div>
        <div class="items">
            <div class="header">Items</div>
            <button class="blue icon-new">New</button>
            <div class="itempreview">
                <div class="itempreviewheader">
                    item title
                </div>
                <div class="itempreviewtext">
                    item text lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pharetra lacinia pretium. 
                </div>
                <div class="itempreviewtime">xx:xx xx/xx/xxxx</div>
            </div>
            <div class="itempreview">
                <div class="itempreviewheader">
                    item title
                </div>
                <div class="itempreviewtext">
                    item text lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pharetra lacinia pretium. 
                </div>
                <div class="itempreviewtime">xx:xx xx/xx/xxxx</div>
            </div>
            <div class="itempreview">
                <div class="itempreviewheader">
                    item title
                </div>
                <div class="itempreviewtext">
                    item text lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pharetra lacinia pretium. 
                </div>
                <div class="itempreviewtime">xx:xx xx/xx/xxxx</div>
            </div>
            <div class="itempreview">
                <div class="itempreviewheader">
                    item title
                </div>
                <div class="itempreviewtext">
                    item text lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pharetra lacinia pretium. 
                </div>
                <div class="itempreviewtime">xx:xx xx/xx/xxxx</div>
            </div>
            <div class="itempreview">
                <div class="itempreviewheader">
                    item title
                </div>
                <div class="itempreviewtext">
                    item text lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pharetra lacinia pretium. 
                </div>
                <div class="itempreviewtime">xx:xx xx/xx/xxxx</div>
            </div>
        </div>
        <div class="main">
            <form method="POST" enctype="multipart/form-data" action="">
                <div class="maintitle"><input type="text" name="title" value="" placeholder="Task title" class="tasktitle"></div>
                <div class="two-columns">
                    <div><label for="due">Due</label></div>
                    <input type="date" name="due" value="" placeholder="">
                    <div><label for="reminder">Reminder</label></div>
                    <input type="date" name="reminder" value="" placeholder="">
                    <div><label for="created">Created</label></div>
                    <input readonly type="date" name="created" value="" placeholder="">
                    <div><label for="category">Category</label></div>
                    <select name="category">
                        <option>Homework</option>
                        <option>Summative assignment</option>
                        <option>Summative test</option>
                    </select>                    
                    <div><label for="priority">Priority</label></div>
                    <select name="priority">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                    <div><label for="status">Status</label></div>
                    <select name="status">
                        <option>Unstarted</option>
                        <option>In progress</option>
                        <option>Waiting on response</option>
                    </select>
                </div>
                <div class="maintext">
                    <textarea name="notes">Note text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pharetra lacinia pretium. Suspendisse id arcu magna. Nullam bibendum purus justo, et laoreet purus tempus in. Curabitur eget tortor fermentum, feugiat tortor vitae, porttitor risus. Vivamus sed enim nisi. Aliquam auctor velit quam, ut laoreet enim cursus et. Vestibulum dictum at ligula at tristique. Ut pretium erat non est luctus, in tempor risus ullamcorper. Nullam sollicitudin, lorem eu blandit finibus, sapien enim pharetra dui, vel rhoncus libero dolor sed leo.</textarea>
                </div>
                <input type="submit" name="submit-save" class="blue icon-save" value="Save update">
                <input type="submit" name="submit-close" class="green icon-complete" value="Complete & close">
                <input type="submit" name="submit-delete" class="red icon-delete" value="Cancel & delete">
                <input type="button" name="button-share" class="gray icon-share" value=" ">
                <input type="button" name="button-print" class="gray icon-print" value=" ">
            </form>
    </div>
    </div>
</body>
</html>
