<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="\static\Style.css">
</head>
<body>
    <h1 id="scoreboard">   
        Score:
        <span id="score">0</span>
        /
        <span id="totalCoins">?</span>
    </h1>
    
    <div id="scene">
        <div id="terrainContainer">
            <div id="finishSign"></div>
        </div>
<button onclick="fly()">FLY!</button>
      <button onclick="BOOST()">BOOST</button>
      <button onclick="reset()">reset</button>
        <div id="player" class="run"></div>
    </div>
 
    <script src="static\Untitled-1.js"></script>
</body>
</html>
