<html>
      <head>
            <meta name "viewport" content="width=device-width", initial-scale=1>
            <link rel="stylesheet" type="text/css" href= "/static/login.css" media="screen"/>
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong|Poppins|Prompt|Sacramento|Staatliches">
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
            
      </head>
   <body>
      <div class="pageheade">
            <div class="titlebar"></div>
        </div>
      
        <div class="container">
          
         <h1 class = "icon-tasker"><i class="material-icons">open_in_browser</i><i class="material-icons">sensors</i> Tasker </h1>
         
         <h2 class="EntryText">$Login To Enter The App<i class="material-icons">subdirectory_arrow_left</i></h2>
         <form action="/login" method="POST"></form>
         
         <div><input type = "text" name="userid" placeholder="username"/></div>
         <div><input type = "password" name="password" placeholder="password"/></div>
         <div><input type = "submit" name="submit" class="icon-login" value = "Login"/></div>
         <div><div class="Popperda"></div></div>
       
         <div class="registration"> No account? Cick<a href="/login"> ME </a> to register</div>
         <div class="registration2"> Forgot password? Click<a href="/login"> ME </a> to Find it!</div>
         
          
            <body class="Hey" background="static\icons\geometric.jpg"></body>
      </form>
        </div>    
         
   </body>
</html>