<html>
      <head>
            <meta name "viewport" content="width=device-width", initial-scale=1>
            <link rel="stylesheet" type="text/css" href= "/static/login.css" media="screen"/>
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong|Poppins|Prompt|Sacramento|Staatliches">
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
            
      </head>
   <body>
      <form method="POST">
            <input name="text">
            <input type="submit">
        </form>
      <div class="pageheade">
           {{item1}}
       
            <body class="Hey" background="static\icons\geometric.jpg"></body>
      </form>
        </div>    
         
   </body>
</html>